body{
    background-color: lightgray;
}
.header_div{
    background-color: darkgray;
    margin-bottom: 20px;
}
.copy_right_footer{
    background-color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    height: 50px;
    padding: 15px;
}
#result_label{
    margin-top: 10px;
}